.signup{
	max-width: 800px;
	margin: 0px auto;
	margin-top: 50px;

	h2{
		text-align: center;
		color: $md-primary;
	}

	p{
		text-align: center;
	}

	form{
		border-left: 1px solid $md-primary-light;
		padding-left: 15px;
	}

	md-select{
		padding-right: 20px;
	}
	li{
		padding-bottom: 15px;
	}
}
