<form method="post" ng-submit="login.login()" name="loginForm" layout="column">
    <md-input-container class="md-icon-float">
        <label>Username</label>
        <md-icon>person</md-icon>
        <input ng-model="login.username" name="username" required autofocus>
    </md-input-container>
    <md-input-container class="md-icon-float">
        <label>Password</label>
        <md-icon>lock</md-icon>
        <input ng-model="login.password" name="password" type="password" required>
    </md-input-container>
    <md-button type="submit" ng-disabled="loginForm.$invalid" class="md-raised md-accent">SIGN IN
    </md-button>
</form>
