.md-drugs {
    padding: 25px;
    
    h3 {
        text-transform: uppercase;
        font-size: 50px;
        font-weight: 300;
        margin: 0;
    }

    span {
        display:inline-block;
        width:33%;

        a {
            color: $md-secondary-dark;
        }
    }

    p:first-child {
        text-transform: uppercase;
    }
}

.active {
    border-bottom: 5px solid $md-secondary;
    color: $md-secondary;
    margin-bottom: -5px;
}