<md-content>
<div class="header">
        <div class="container">
            <h2 class="md-display-1">Medications</h2>
            <p>Search through our list of drugs & medications to find the best solution!</p>
        </div>
</div>
<div class="drugs-tabs-bg md-whiteframe-z1 ng-scope">
    <div class="container">
        <ul>
            <li ng-repeat="letter in drugsList.letters" ng-class="drugsList.getAlphabetFilterClass('{{letter}}')" ui-sref="drugs.list({'term':'{{letter}}'})">{{letter}}</li>
        </ul>
    </div>
</div>
<md-card>
    <md-card-content>
    <div class="md-drugs container">
        <h3>{{drugsList.getAlphabetLetter()}}</h3>
        <p>
           <span ng-if="drug.label" ng-repeat="drug in drugsList.drugs">
               <a ui-sref="drugs.view.overview({id:drug.id})">{{drug.label}}&nbsp({{drug.generic}})</a>
           </span>
        </p>
    </div>
</md-card-content>
</md-card>
</md-content>
