<div class="content-container">
    <div layout="row" class="card-titles">
        <md-card flex>
            <md-toolbar class="md-toolbar-tools">
                <md-icon>queue</md-icon>
                <h4>Alternatives</h4>
            </md-toolbar>
            <md-card-content>
                <div ng-if="drugsAlternatives.alternatives.data == 0">
                    <p>Sorry! No alternative data at this time.</p>
                </div>
                <div ng-repeat="drug in drugsAlternatives.alternatives.data" layout="column" layout-gt-md="row" flex layout-wrap class="mobile-fix card-content">
                    <div flex>
                        <div layout="column" flex class="ie-fix">
                            <div flex>
                                <h3><a ui-sref="drugs.view.overview({'id': {{drug.id}}})">{{::drug.label}}</a></h3>
                                <p>{{::drug.description}}</p>
                            </div>
                            <div flex>
                                <p class="bold">Side Effects:</p>
                            </div>
                            <div flex>
                                <span ng-repeat="side_effect in drug.side_effects | orderBy: 'value'">
                                    <span class="md-raised md-pills">{{::side_effect.value | capitalize}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="percentages mobile-fix" layout="row" layout-sm="column" layout-align="center center" flex flex-sm="100">
                        <div flex="50" flex-sm="100" layout="column" layout-align="center center">
                            <div class="alt-graph">
                                <canvas id="doughnut" class="chart chart-doughnut" data="drug.chartData.effectivenessChartData" labels="drugsAlternatives.effectiveLabels" colours="drugsAlternatives.effectiveColours" options="drugsAlternatives.effectiveOptions"></canvas>
                                <p class="percentage">{{::drug.effectiveness_percentage | percentage}}</p>
                            </div>
                            <p>Effectiveness</p>
                        </div>
                        <div flex="50" flex-sm="100" layout="column" layout-align="center center">
                            <div class="alt-graph">
                                <canvas id="doughnut" class="chart chart-doughnut" data="drug.chartData.insuranceChartData" labels="drugsAlternatives.insuranceLabels" colours="drugsAlternatives.insuranceColours" options="drugsAlternatives.insuranceOptions"></canvas>
                                <p class="percentage">{{::drug.insurance_coverage_percentage | percentage}}</p>
                            </div>
                            <p>Insurance</p>
                        </div>
                    </div>
                </div>
            </md-card-content>
        </md-card>
    </div>
</div>
