.material-icons.icon-large {
    //font-size: 140px;
}

.column-padding {
    padding: 16px 16px 0;
}

.pill-row {
    margin: 20px 0;
}

.reviews {
    line-height: 20px;

    .md-tag-faces {
        width: 125px;
        height: 125px;
    }

    md-icon svg {
        fill: $medium-gray;
    }

    .health-state {
        padding-right: 25px;
        text-align: center;
    }
}

.md-vote {
    border-left: 1px solid $border-color;
    text-align: center;
    height: 110px;
    padding: 5px;

    &:first-child {
        border-bottom: 1px solid $border-color;

        md-icon svg {
            margin-top: 0;
        }
    }

    p { text-align: center; }

    .vote-label { margin: 5px 0 0; }

    md-icon {
        height: auto;
        width: auto;

        svg {
            margin-top: 18px;
            margin-bottom: -15px;
            width: 55px;
            height: 55px;
        }
    }

    .md-drug-info {
        margin: 0 auto;
        padding: 25px;

        h1 {
            font-weight: 500;
            margin: 0;
        }

        .md-drug-type {
            height: 100%;
            margin: 8px 15px;
            padding: 5px;
            font-size: 13px;
            background-color: #607D8B;
            color: #FFFFFF;
        }

        .md-manufacturer-name {
            font-size: 14px;
            margin: 0;
        }
    }
}
