<div class="content container ng-scope">
    <md-content layout="column" layout-gt-md="row" class="cardTitles reviews medium-ie-fix">
        <div flex flex-md="100" flex-sm="100">
            <md-card flex>
                <md-toolbar class="md-toolbar-tools">
                    <md-icon>people</md-icon>
                    <h4>Reviews</h4>
                </md-toolbar>
                <md-card-content>
                    <div layout="column" layout-align="center center" flex ng-if="drugsReviews.reviews.length < 0" class="special-ie-fix">
                        <div flex>
                            <p>Sorry! No reviews at this time. Be the first to share your experience!</p>
                        </div>
                        <div flex>
                            <md-button class="md-raised md-primary" ng-click="drugsView.openReviewModal($event)">Review It</md-button>
                        </div>                        
                    </div>
                    <div ng-repeat="review in drugsReviews.reviews" class="card-content">            
                        <drugs-review-view review="review"></drugs-review-view>            
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
</div>