    <md-card layout-padding ng-controller="DrugsReviewCtrl as drugsReview">
      <md-card-content layout-align="column">
          <div ng-if="drugsReview.reviewSubmitted == false">
              <form name="reviewForm" novalidate ng-submit="drugsReview.submitReview()">
                <h2 class="md-title">Have you taken this? Tell us how you felt about it.</h2>
                <p>Please help the community by giving us more details</p>
                <md-input-container>
                    <p>Was it effective?</p>
                    <div layout="row" flex>
                        <md-radio-group ng-model="drugsReview.review.rating">
                          <md-radio-button value="3" class="md-primary"><md-icon class="md-icon-big">mood</md-icon>Good</md-radio-button>
                          <md-radio-button value="2"><img src="images/icons/md-neutral.png" alt="neutral face" class="md-icon-big" /><span class="neutral">Meh</span></md-radio-button>
                          <md-radio-button value="1"><md-icon class="md-icon-big">mood_bad</md-icon>Bad</md-radio-button>
                        </md-radio-group>
                        <div ng-messages="reviewForm.rating.$error" ng-show="reviewForm.rating.$dirty">
                            <div ng-message="md-required">Rating is required</div>
                        </div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <p>Did you experience any side effects?</p>
                    <div layout="row" layout-wrap>
                        <fieldset class="standard">
                            <md-checkbox ng-model="data.cb1" aria-label="Checkbox 1">
                                Celexa
                            </md-checkbox>
                            <md-checkbox ng-model="data.cb2" aria-label="Checkbox 1">
                                Vicodin
                            </md-checkbox>
                            <md-checkbox ng-model="data.cb3" aria-label="Checkbox 1">
                                Advil
                            </md-checkbox>
                            <md-checkbox ng-model="data.cb4" aria-label="Checkbox 1">
                                Coca Cola
                            </md-checkbox>
                        </fieldset>
                    </div>
                </md-input-container>
                <md-input-container>
                    <input type="textbox">
                </md-input-container>
                <md-input-container>
                <p>Did your insurance provide coverage?</p>
                <div layout="row">
                    <md-radio-group ng-model="drugsReview.review.is_covered_by_insurance">
                        <md-radio-button value="1">Yes</md-radio-button>
                        <md-radio-button value="0"> No </md-radio-button>
                    </md-radio-group>
                </div>
                </md-input-container>
                <div layout="row">
                     <md-input-container>
                        <label>Share any other details about the medication, or coverage experience</label>
                        <textarea name="comment" ng-model="drugsReview.review.comment" md-maxlength="150"></textarea>
                        <div ng-messages="reviewForm.comment.$error" ng-show="reviewForm.comment.$dirty">
                            <div ng-message="md-maxlength">That's too long!</div>
                        </div>
                      </md-input-container>
                </div>
                <div class="md-actions" layout="row" layout-align="end center">
                    <md-button>Clear</md-button>
                    <md-button class="md-accent">Submit</md-button>
                </div>
            </form>
          </div>
          <div ng-if="drugsReview.reviewSubmitted == true">Thank you for submitting your review</div>
      </md-card-content>
    </md-card>
