.md-drug-info{
    margin: 0 auto;
    padding: 25px;

    h1{
        font-weight:500;
        margin: 0;
    }

    .md-drug-type{
        height: 100%;
        margin: 8px 15px;
        padding: 5px;
        font-size: 13px;
        background-color: #607D8B;
        color: #FFFFFF;
    }


    .md-manufacturer-name{
        font-size:14px;
        margin:0;
    }

}