.md-drugs {
 
    h3 {
        text-transform: uppercase;
        font-size: 50px;
        font-weight: 300;
        margin: 0;
    }

    span {
        display:inline-block;
        width:33%;

        a {
            color: $md-primary;
            text-align: left;
        }
    }

     @media only screen and (max-width: 500px) {
        span{
            display:inline-block;
            width: 100%;
        }
    }

    p:first-child {
        text-transform: uppercase;
    }
}

.active {
    border-bottom: 5px solid $md-secondary-dark;
    color: $md-secondary-dark;
    margin-bottom: -5px;
}