<md-content>
<div class="header">
        <div class="container">
            <h2 class="md-display-1">Medications</h2>
            <p>Search through our list of drugs & medications to find the best solution!</p>
        </div>
</div>
<div class="drugs-tabs-bg md-whiteframe-z1 ng-scope">
    <div class="container">
        <ul>
            <li ng-repeat="letter in drugsList.letters" ng-class="drugsList.getAlphabetFilterClass('{{letter}}')" ui-sref="drugs.list({'term':'{{letter}}'})">{{letter}}</li>
        </ul>
    </div>
</div>
<div class="content-container">
    <md-card>
        <md-card-content>
            <div class="md-drugs">
                <h3>{{drugsList.currentLetter}}</h3>
                <p>
                   <span ng-if="drug.label" ng-repeat="drug in drugsList.drugs">
                       <a ui-sref="drugs.view.overview({id:drug.id})">{{drug.label}}</a>
                   </span>
                </p>
            </div>
        </md-card-content>
        <div class="md-actions" layout="row" layout-align="end center">
            <md-button ng-if="drugsList.hasMore()" ng-click="drugsList.showMore()" class="md-accent">View More</md-button>
        </div>
    </md-card>   
</div>

</md-content>


