/vendor
.env
node_modules/
bower_components/
.sass-cache/
.tmp/
dist/
public/**/*.css
public/styles/*.css
public/styles/*.css.map
clover.xml
deployment/**/*.crt
deployment/**/*.key
docker-compose.yml
certs/*.crt
certs/*.key
