body {
	color: $text-color;
}

strong {
	color: black;
	font-weight: normal;
}

ul.unstyled {
	padding: 0;

	li {
		list-style: none;
		line-height: 26px;
	}
}

.md-raised {
	&.md-pill {
		background-color: $primary-button-color;
		border-radius: 50px;
		color: white;
		line-height: 26px;
		min-height: inherit;
	}
}

.md-button.md-raised:not([disabled]):hover {
	background-color: lighten($primary-button-color, 15%);
}
