/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
	$medium-gray: #CCCCCD;
	$primary-button-color: #ffc400;
	$text-color: #666;
	$border-color: #DDD;

	$md-primary: #0288d1;
	$md-primary-light: #e1f5fe;
	$md-primary-dark: #0277bd;

	$md-secondary: #ffc400;
	$md-secondary-dark: #ffab00;
	
    html, body, h1, h2, h3, h4, h5, h6, p {
        font-family: Lato, 'Helvetica Neue', sans-serif;
    }

    html, body, md-content {
        background-color: #EEEEEE;   
        height:100%;
        position: relative; 	
    }

    h1 {font-size: 34px;}
    h2 {font-size: 30px;}
    h3 {font-size: 20px;}

    .md-ui-view {
        min-height: calc(100vh - 124px);
    }

    p,li,ul {
    	font-size: 14px;
    }

    html {
        position: relative;
  		min-height: 100%;
    }

    body {
		color: #666;
		min-height:100%;		
	}

	.container {
		max-width: 1366px;
		margin: 0px auto;
		padding-left: 28px;
		padding-right: 28px;
        padding-top: 5px;

        @media only screen and (max-width: 600px){
            padding-left: 0px;
            padding-right: 0px;
        }
	}

	.header {
	    background-color: $md-primary;

	    .container { 
	        height:130px;
	        margin: 0 auto;
	        padding: 25px;
	        color: $md-primary-light;
	    }
	}

	strong {
		color: black;
		font-weight: normal;
	}

	a{
		color: $md-secondary;
		text-decoration: none;
	}

	.bold {
		font-weight: bold;
	}

    .center{
        text-align: center;
    }

	ul.unstyled {
		padding: 0;

		li {
			list-style: none;
			line-height: 26px;
		}
	}

	.md-pills {
        padding: 25px;
        color: #FFF;
        font-size: 12px;    
        display: inline-block;
        border: solid;
        border-width: 2px;
        border-radius: 15px;
        padding: 1px 10px;
        background-color: $md-primary;
        border-color: $md-primary;
        margin: 0 6px;
	}

	.md-button.md-raised:not([disabled]):hover {
		background-color: lighten($primary-button-color, 15%);
	}
	
    a.md-button.md-accent.md-raised, a.md-button.md-accent.md-fab, .md-button.md-accent.md-raised, .md-button.md-accent.md-fab {
    	color:#000;
    }

    md-card {
        margin:25px;
        
        .md-actions{
    	   padding: 5px;
        }
    }
    
    md-toast {
        background-color:$md-secondary;
        color:black;
        margin-top:70px;
        font-size:18px;
    }

    md-toolbar md-icon {
        margin: 0 10px 0 0;
    }

    /*Universal solution to IE + Mobile*/
    .ie-fix {
        display: block;
    }
    @media only screen and (max-width: 600px) {
        .mobile-fix {
            display: block;
        }    
    }
    
/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
