<md-content class="md-padding password" flex>
    <md-card class="password-card">
      <md-card-content>
        <h2 class="md-title">Set New Password</h2>
             <form method="post" name="resetForm" layout="column">
                    <md-input-container flex>
                        <label>New Password</label>
                        <input ng-model="resetPassword.password" name="password" type="password" required autofocus>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Confirm Password</label>
                        <input password-match="resetPassword.password" ng-model="resetPassword.confirmPassword" name="confirmPassword" type="password" required>
                        <div ng-messages="resetForm.confirmPassword.$error" ng-show="resetForm.confirmPassword.$touched || resetForm.$submitted">
                            <div ng-message="compareTo">Password must match.</div>
                            <div ng-message="required">Password confirmation is required.</div>
                        </div>
                    </md-input-container>
                </form>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button type="button" ng-click="resetPassword.reset()" ng-disabled="resetForm.$invalid" class="md-raised md-accent">Update Password</md-button>
      </div>
    </md-card>
  </md-content>
