<md-dialog layout="column" class="ie-fix">
    <md-toolbar class="md-toolbar-tools">
        <p class="md-headline" flex>Please Login</p>
        <md-button ng-click="loginSignupModal.closeDialog()">
            <md-icon class="md-headline">close</md-icon>
        </md-button>
    </md-toolbar>
    <md-dialog-content flex class="ie-fix">
        <div>
            <p>You need to be logged in to submit and rate reviews. <a ng-click="loginSignupModal.signup=true">Please create an account</a> or log in.</p>
        </div>
        <div ng-hide="loginSignupModal.showPasswordForgotForm || loginSignupModal.signup">
            <div ng-controller="LoginCtrl as login" ng-include="'app/login/login.form.html'"></div>
            <div class="md-actions" layout="row" layout-align="end center">
                <md-button class="small" ng-click="loginSignupModal.showPasswordForgotForm = true;">Forgot your password?</md-button>                
            </div>
        </div>
        <div ng-show="loginSignupModal.showPasswordForgotForm">
            <div ng-controller="ForgotPasswordCtrl as forgotPassword" ng-include="'app/password/forgot/password.forgot.form.html'"></div>
            <div class="md-actions" layout="row" layout-align="end center">
                <md-button class="small" ng-click="loginSignupModal.showPasswordForgotForm = false;">< Back to Login
                </md-button>
            </div>
        </div>
        <div ng-show="loginSignupModal.signup" ng-controller="SignupCtrl as signup" ng-include="'app/signup/signup.form.html'"></div>
        </md-dialog-content>
</md-dialog>