.password { 
	background: url('/images/image-background.png') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 94vh;
	margin-bottom: -60px;
	padding-bottom: 150px;	

	.password-card {
		max-width: 500px;
		margin: 0px auto;
		margin-top: 80px;
		padding: 25px;

		h2 {
			text-align: center;
			color: $md-primary;
			font-size: 24px;
		}

		p {
			text-align: center;
			margin-bottom: 30px;
		}

		form {
			padding-left: 15px;
		}

		md-select {
			padding-right: 20px;
		}
		li {
			padding-bottom: 15px;
		}
		.small {
			font-size: 12px;
		}
	}

	@media only screen and (max-width: 600px) {
	    .password-card {
	    	margin-top: 30px !important;
	    }
	}
}
