<md-content class="md-padding" flex>
    <md-card class="password">
      <md-card-content>
        <h2 class="md-title">Forgot Password</h2>
        <p>Enter your username and we'll send you a link to reset your password.</p>
             <form method="post" name="forgotForm" layout="column">
                    <md-input-container flex class="md-icon-float">
                        <label>Username</label>
                        <md-icon>person</md-icon>
                        <input ng-model="forgotPassword.username" name="username" type="text" required autofocus>
                    </md-input-container>
                </form>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button type="button" ng-click="forgotPassword.forgot()" ng-disabled="forgotForm.$invalid" class="md-raised md-accent">RESET YOUR PASSWORD</md-button>
      </div>
    </md-card>
  </md-content>
