.banner-account{
    background-color: $md-primary;

    md-icon{
        color: #FFFFFF;
    }
}


.md-account-info {
    margin: 0 auto;
    padding: 25px;
    background-color:$md-primary;
    color: $md-primary-light;

    h1 {
        font-weight: 500;
        font-size: 40px;
        margin: 0;
    }
}

.drug-padding{
    padding:15px !important;
}
.dropdown-move{
    margin-left: 35px;
}