<div class="banner-account">
    <md-content layout="row" layout-wrap class="container md-account-info" flex>
            <div flex="90" flex-sm="70">
                <h1>My Account</h1>
                <p><md-icon>person</md-icon> test@test.com | Female, 32</p>     
            </div>
            <div flex="10" flex-sm="30">
                <md-button class="md-accent md-raised md-button">Review it</md-button>
            </div>
    </md-content>
</div>
    <div class="container">
    <md-content layout="row" class="reviews" layout-padding layout-md="column">
    <div flex="75" flex-md="100">
            <md-card>
                <md-toolbar class="md-toolbar-tools">
                    <md-icon>question_answer</md-icon>
                    <h4>Your Reviews</h4>
                </md-toolbar>
                <md-card-content>
                    <div layout="row" layout-wrap>
                        <div flex="15" class="column-padding">                        
                            <p><strong>Added:<br/>April 11, 2015</strong></p>
                        </div>
                        <div flex="85" class="column-padding">
                            <p>"Taking in the morning or afternoon with an hour of two for relax before takes effect. If you have ocular/eye problems/pains you will feel in 10 minutes that your whole body starts to relax but keep away from computers, tv and so."</p>
                            <section class="pill-row" layout="row" layout-sm="column" layout-align="start center">
                                <span><strong>Side Effects:</strong></span>
                                <md-button class="md-raised md-pill">Celexa</md-button>
                                <md-button class="md-raised md-pill">Cymbalta</md-button>
                                <md-button class="md-raised md-pill">Effexor</md-button>
                                <md-button class="md-raised md-pill">Lexapro</md-button>
                            </section>

                            <ul class="unstyled">
                                <li><strong>Insurance Covered:</strong> Yes</li>
                                <li><strong>Insurance Company:</strong> National Healthcare</li>
                            </ul>
                        </div>
                       
                    </div>
                </md-card-content>
                <md-divider></md-divider>
                <md-card-content>
                    <div layout="row" layout-wrap>
                        <div flex="15" class="column-padding">                        
                            <p><strong>Added:<br/>April 11, 2015</strong></p>
                        </div>
                        <div flex="85" class="column-padding">
                            <p>"Taking in the morning or afternoon with an hour of two for relax before takes effect. If you have ocular/eye problems/pains you will feel in 10 minutes that your whole body starts to relax but keep away from computers, tv and so."</p>
                            <section class="pill-row" layout="row" layout-sm="column" layout-align="start center">
                                <span><strong>Side Effects:</strong></span>
                                <md-button class="md-raised md-pill">Celexa</md-button>
                                <md-button class="md-raised md-pill">Cymbalta</md-button>
                                <md-button class="md-raised md-pill">Effexor</md-button>
                                <md-button class="md-raised md-pill">Lexapro</md-button>
                            </section>

                            <ul class="unstyled">
                                <li><strong>Insurance Covered:</strong> Yes</li>
                                <li><strong>Insurance Company:</strong> National Healthcare</li>
                            </ul>
                        </div>
                       
                    </div>
                </md-card-content>
            </md-card>
        </div>
        <div flex="25" flex-md="100">
            <md-card>
            <md-toolbar class="md-toolbar-tools">
                <md-icon>question_answer</md-icon>
                <h4>Recently Viewed</h4>
            </md-toolbar>
            <md-card-content>
                <div layout="row" layout-wrap>
                    <div flex>                        
                        <ul>
                            <li>Cymbalta</li>
                            <li>Cymbalta</li>
                            <li>Cymbalta</li>
                            <li>Cymbalta</li>
                            <li>Cymbalta</li>
                            <li>Cymbalta</li>
                        </ul>
                    </div>                   
                </div>
            </md-card-content>
        </md-card>
        </div>
    </md-content>
</div>
</md-content>



<md-content layout-margin layout="column" class="center-form">
    <section class="md-whiteframe-z1" flex>
        <md-toolbar class="mute-toolbar">
            <div class="md-toolbar-tools">
                <h3>Update your profile</h3>
            </div>
        </md-toolbar>
        <md-content layout-padding layput-margin layout="row">
            <form flex method="post" name="profileForm" ng-submit="profile.updateProfile()">
                <md-input-container class="md-icon-float">
                    <label>Name</label>
                    <md-icon>person</md-icon>
                    <input ng-model="profile.user.name">
                </md-input-container>
                <md-input-container class="md-icon-float">
                    <label>Email Address</label>
                    <md-icon>email</md-icon>
                    <input ng-model="profile.user.email" type="email">
                </md-input-container>
                <md-input-container class="md-icon-float">
                    <label>New Password</label>
                    <md-icon>lock</md-icon>
                    <input ng-model="profile.user.newPassword" type="password">
                </md-input-container>
                <div layout="row">
                    <div flex>
                        <md-input-container ng-if="profile.user.providers.indexOf('local') !== -1">
                            <label>Confirm the changes with your current password</label>
                            <input ng-model="profile.user.oldPassword" type="password" name="oldPassword" required>
                        </md-input-container>
                    </div>
                    <md-button class="btn-primary" ng-disabled="profileForm.$invalid">Update Information</md-button>
                </div>
            </form>
        </md-content>
    </section>
</md-content>