<div class="banner-account">
    <md-content layout="row" layout-wrap class="container md-account-info" flex>
            <div flex="90" flex-sm="70">
                <h1>My Account</h1>
                <p><md-icon>person</md-icon> {{profile.user.email}}</p>
            </div>
            <div flex="10" flex-sm="30">
                <!--<md-button class="md-accent md-raised md-button">EDIT PROFILE</md-button>-->
            </div>
    </md-content>
</div>
<div class="content-container">
    <md-content layout="column" class="cardTitles" layout-padding layout-md="column">
        <md-card>
            <md-toolbar class="md-toolbar-tools">
                <md-icon>question_answer</md-icon>
                <h4>Update your Profile</h4>
            </md-toolbar>
            <md-card-content class="drug-padding">
                <div layout="row" layout-wrap>
                    <form flex method="post" name="profileForm" ng-submit="profile.updateProfile()">
                        <md-input-container class="md-icon-float">
                            <label>Username</label>
                            <md-icon>person</md-icon>
                            <input ng-model="profile.user.username" name="username" required autofocus>
                            <div ng-messages="profile.username.$error" ng-show="profile.username.$touched || profile.$submitted">
                            <div ng-message="required">You must enter your username.</div>
                            </div>
                        </md-input-container>
                        <md-input-container class="md-icon-float">
                            <label>Email Address</label>
                            <md-icon>email</md-icon>
                            <input ng-model="profile.user.email" type="email">
                        </md-input-container>
                        <md-input-container class="md-icon-float">
                            <label>New Password</label>
                            <md-icon>lock</md-icon>
                            <input ng-model="profile.user.newPassword" type="password">
                        </md-input-container>
                        <div layout="row" layout-align="start center">
                            <md-select ng-model="profile.user.gender" placeholder="Choose Gender" class="dropdown-move">
                            <md-option value="m">Male</md-option>
                            <md-option value="f">Female</md-option>
                            </md-select>
                            <md-select ng-model="profile.user.age" placeholder="Choose Age" class="dropdown-move">
                            <md-option ng-repeat="n in [] | range:18:80" value="{{n}}">{{n}}</md-option>
                            </md-select>
                        </div>
                        <md-input-container class="md-icon-float">
                            <label>Confirm the changes with your current password</label>
                            <md-icon></md-icon>
                            <input ng-model="profile.user.oldPassword" type="password" name="oldPassword" required>
                        </md-input-container>
                        <div layout="row" layout-align="end center">
                            <md-button class="md-raised md-button md-accent" ng-disabled="profileForm.$invalid">Update Information</md-button>
                        </div>
                    </form>
                </div>
                </div>
            </md-card-content>
        </md-card>
    </md-content>
</div>
</md-content>


