footer {
    background-color: #323232;
    padding: 15px;
    font-size: 12px;
    position: absolute;
    bottom: inherit;
    width: 100%;
    height: 60px;

    a {
        color:#FFFFFF;
        text-decoration: none;
        text-align: center;

        &:hover{
            text-decoration: underline;

        }
    }

    span {
        margin: 0 5px;
    }

    @media only screen and (min-width : 300px) and (max-width : 960px) {
        height:auto;

        a {
            color:#FFFFFF;
            text-decoration: none;
            text-align: left;
            padding: 10px;
        }
    }
}