<footer layout="row" layout-align="center center">
    <a href="" target="_blank">Terms of Service </a>
    <span> &#124; </span>
    <a ui-sref="privacy"> Privacy Policy</a>
    <span> &#124; </span>
    <a href="https://github.com/Symplicity/antidote" target="_blank"> View Project on GitHub</a>
    <span> &#124; </span>
    <a href="http://docs.antidote.apiary.io/" target="_blank"> API Documentation</a>
    <span> &#124; </span>
    <a href="https://www.facebook.com/pages/Antidote/496420223855079" target="_blank"> Support</a>
</footer>
