.about { 
  margin: 0px auto;
  height: 400px;
  width: 800px;
  max-width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
  padding-top: 60px;

  md-card-content {
    padding: 0px;

    .right-side {
      padding: 16px;
      background-color: #FFF;   
    }
  }  
}

/*IE + Mobile Fix*/
@media only screen and (max-width: 600px) {
  .about {
    margin-top: 10px !important;
    margin-bottom: 10px;

    div {
      display: block;
    }
  }  
}