md-card {
	font-size: 14px;

	md-toolbar {
		background-color: #3F51B5;
		min-height: 55px;

		&.md-toolbar-tools {
			height: 55px;
		}

		md-icon {
			margin: 0 10px 0 0;
			padding: 8px;
			background-color: #053145;
			border-radius: 50%;
			height: 40px;
			width: 40px;
			font-size: 10px;
			text-align: center;

			svg {
				fill: white;
			}
		}
	}
}