<div layout="row" layout-align="center center">
<md-autocomplete flex
    md-no-cache="false"
    md-selected-item="drugsSearch.search.selectedItem"
    md-autofocus="false"
    md-autoselect="true"
    md-search-text="drugsSearch.search.searchText"
    md-items="item in drugsSearch.getMatches(drugsSearch.search.searchText)"
    md-item-text="item.label"
    placeholder="search by medication"
    md-search-text-change="drugsSearch.textChange()"
    md-selected-item-change="drugsSearch.itemChange(item)">
    <md-item-template>
        <span md-highlight-text="drugsSearch.searchText">{{item.label | capitalize}} ({{item.generic | capitalize}})</span>
    </md-item-template>
    <md-not-found>
        No matches found.
    </md-not-found>
</md-autocomplete>
<md-icon class="search-button md-whiteframe-z1" hide-sm>search</md-icon>
</div>
