.banner{
    height: 200px;
    margin: 0 auto;
    padding: 25px;
    background-color:$md-primary;
    color: $md-primary-light;

    h1{
        text-align: center;
    }
    
    input{
        width: 300px;
        padding:10px;
        color: #4DB6AC;
        background-image: URL('/images/icons/md-search.svg');
        background-repeat: no-repeat;
        background-position: 99%;
    }


}

.md-home-card{
    max-width: 350px;
    margin-top: 50px;
    margin-bottom: 0px !important;

    div{
        padding: 10px;
    }

    md-icon{
        width:100px;
        height:100px;
    }

    .material-icons{
        font-size: 100px;
    }

    p{
        text-align:center;
    }
}

.md-quote{
    margin-top: 50px;
    color: $md-primary-light;
    background-color:$md-primary-dark;
    text-align:center;
    padding-bottom: 20px;

    a.md-accent.md-button{
        color:#FFFFFF;
        padding: 0 15px;

    }
}
