.navbar-background{
    background: $md-primary-dark;
}
.md-nav-bar{
    
    .md-global-search{
        background: #131A5F;
        border: none;
        color:white;
        background-image: URL('/images/icons/md-search-white.svg');
        background-repeat: no-repeat;
        background-position: 99%;
        width:500px;
        padding:10px;
    }


}

