.md-nav-bar{

    .md-global-search{
        background: #131A5F;
        border: none;
        text-align:right;
        color:white;
    }

    .nav-link:active {
      border-bottom: solid;
      border-radius: 0;
      border-width: 5px;
      border-color: black;
      padding-top: 15px;
      padding-bottom: 8px;
    }    
}

