<md-toolbar ng-controller="NavbarCtrl as navbar" class="md-whiteframe-z2">
    <div class="md-toolbar-tools" layout-margin layout-padding>
        <a ui-sref="home" md-button>Antidote</a>
        <div flex>
            <a ui-sref="profile" md-button ng-if="navbar.isAuthenticated()">Profile</a>
        </div>
        <a ui-sref="signup" md-button ng-if="!navbar.isAuthenticated()">Sign up</a>
        <a ui-sref="login" md-button ng-if="!navbar.isAuthenticated()">Log In</a>
        <a ui-sref="logout" md-button ng-if="navbar.isAuthenticated()">Logout</a>
    </div>
</md-toolbar>
