<section class="top-bar">
	<section class="logo">
		<img src="http://placehold.it/350x50">
		<input type="text" placeholder="search">
		<button>Sign Up</button>
		<button>Log In</button>
	</section>
</section>

<section class="jumbotron">
	<h1>Advil, Motrin IB (Ibuprofen) <span class="label">Prescription or OTC</span></h1>
	<button>Review</button>
	<p><span>Manufacturer: Pfilzer Inc.</span> Generics alternatives available</p>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient... <a href="##">read more</a></p>

	<p>
		<span>Used for:</span>
		<span>Pain</span>
		<span>Fever</span>
		<span>Headache</span>
		<span>Migraine</span>
	</p>
</section>